<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>mavenproject</display-name>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>fr.utbm.mavenproject.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>fr.utbm.mavenproject.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>fr.utbm.mavenproject.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseSessionServlet</servlet-name>
        <servlet-class>fr.utbm.mavenproject.controller.CourseSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>fr.utbm.mavenproject.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseServlet</servlet-name>
        <servlet-class>fr.utbm.mavenproject.controller.CreateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseSessionServlet</servlet-name>
        <servlet-class>fr.utbm.mavenproject.controller.CreateCourseSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseSessionRegisterServlet</servlet-name>
        <servlet-class>fr.utbm.mavenproject.controller.CourseSessionRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseSessionServlet</servlet-name>
        <url-pattern>/course_sessions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseServlet</servlet-name>
        <url-pattern>/createcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseSessionServlet</servlet-name>
        <url-pattern>/createcoursesession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseSessionRegisterServlet</servlet-name>
        <url-pattern>/registercoursesession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>

